<div aria-hidden="true" class="pointer-events-none fixed inset-0 z-[60] origin-right animate-page-wipe bg-primary motion-reduce:hidden dark:bg-primaryDark"></div>
<div aria-hidden="true" class="pointer-events-none fixed inset-0 z-[59] origin-right animate-page-wipe-delay-1 bg-light motion-reduce:hidden dark:bg-dark"></div>
<div aria-hidden="true" class="pointer-events-none fixed inset-0 z-[58] origin-right animate-page-wipe-delay-2 bg-dark motion-reduce:hidden dark:bg-light"></div>
